<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>彭崇甫的个人网站</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
    <ul>
        <li><a href="music" target="_blank">Music</a></li>
        <li><a href="game" target="_blank">Game</a></li>
        <li><a href="https://github.com/steinsphang" target="_blank">Github</a></li>
        <li><a href="resume" target="_blank">Resume</a></li>
        <li id="emailbutton">Email</li>
    </ul>

    <div id="emaildiv">
        <label>您的邮箱</label>
        <input type="text" id="useremail"/>
        <br />
        <label>姓名</label>
        <input type="text" id="username"/>
        <br />
        <label>内容</label>
        <textarea id="usercontent"></textarea>
        <br />
        <label id="send">发送</label><span style="display:inline-block;width: 204px"></span>
        <br />
    </div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/index.js"></script>
</body>
</html>